<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image and OCR Scanned Text</title>
</head>
<body>
    <img src="/completed_files/{{ image_file_name }}">
    <p>{{ txt_content }}</p>
    <p>
        <iframe src="/completed_text_files/{{ text_file_name }}"></iframe>
    </p>
<div class="metadata">
<form>
    Box Number:<br>
    <input type="text" name="boxnum"><br>
    File Name:<br>
    <input type="text" name="filename"><br>
    Date Added (mm/dd/yyyy):<br>
    <input type="text" name="dateadded"><br>
    Name of Uploader (first and last):<br>
    <input type="text" name="uploader"><br>
    Comments/Notes About Item:<br>
    <input type="text" name="comments"><br>

    <input type="submit" value="Submit">
</form>
</div>
</body>
</html>

